body {
background-color: Linen;
}

h1 {font-family: futura;
    color:#RosyBrown;
    font-size:52px;
    position: relative;
    text-align: left;
    }

h2 {font-family: futura;
    color:#RosyBrown;
    font-size:48px;
    position: relative;
    text-align: left;
}

h2 {font-family: futura;
    color:#RosyBrown;
    font-size:48px;
    position: relative;
    text-align: left;
    }
