body{
background-color: Linen;

}



button {
  border: none;
  color: white;
  background-color: RosyBrown;
  padding:1em 2em 1em 2em;
}


.padding-hover:hover {
    background-color: RosyBrown;
    color:white;
    text-decoration: underline;
}

/---Media Queries---/
@media screen and (max-width: 1000px) {
    body {

        background-color: Linen;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color: Linen;
    }
}




h1 {
  color: #RosyBrown;
  font-size:52px;
  position: relative;
  text-align: center;

}
.container {

    background-image: url(https://github.com/sydneydron/gra-321/code-exercises/img/CapeCod.jpg?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    margin:0 auto;
    width:50%;
  }
  .layout {

      background-image: url(https://github.com/sydneydron/gra-321/code-exercises/img/Crate-and-Barrel-Kitchen-Layout.png?raw=true);
      background-size: contain;
      background-repeat: no-repeat;
      height: 700px;
      margin:0 auto;
      width:50%;
    }
    
    h1 {
      color: #RosyBrown;
      font-size:52px;
      position: relative;
      text-align: center;

    }

    h2 {font-family: futura;
        color:#RosyBrown;
        font-size:52px;
        position: relative;
        text-align: center;
    }
