* {
  margin: 0px;

}

body {
  background-color: #261917;
}

h1 {
font-size: 50px;
font-family: Georgia;
justify-content: center;
padding-left: 30px;
}

h2 {
font-size: 40px;
font-family: Georgia;
}

h3 {
font-size: 25px;
font-family: Georgia;
}

p{
font-size: 16px;
font-family: Georgia;
}

html {
  font-size: 16px
  box-sizing: border-box;
}

header {
  background-color:F5DEB3;
  width: 100%;
}

.header-nav {
  background-color: #F5DEB3;
  width: 100%;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
height:100px;
}

label {
font-size: 50px;
line-height:100px;
cursor: pointer;
background-color: #F5DEB3;
}

ul.menu-items {
padding: 20px 0 0 0;
margin: 0;
list-style-type: none;
text-align: left;
  background-color: #F5DEB3;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: center;
  color: black;
  display:block;
  background-color: black;
}

ul.menu-items a:first-of-type {
  padding-top:10px;
}

ul.menu-items a:last-of-type {
  padding-bottom:10px;
}

#toggle:checked ~ ul.menu-items {
  display: none;
}

#drink-menu, #food-menu, #get-in-touch {
  height:500px;
}

@media only screen and (min-width: 500px) {
  .header-nav {
  background-color: ##F5DEB3;
  width:90%;
  margin: 0 auto;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}

  .menu-items li a {
  background-color: #F5DEB3;
    color: black;

  }

.nav-bar {
  display:inline-block;
  position: relative;
  padding: 30px 0 30px 0;
  width:60%;
}


#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: right;
border-top:none;
  width: 60%;
  justify-content: space-between;
}
  ul.menu-items {
padding: 0px 0 0px 0;
    height: 100px;
}

}

.main{
  display: flex;
  flex-direction: column;
}
.nav-list{
  list-style-type: none;
}

.nav-list-container{
  display: flex;
  justify-content: space-between;
}

.header-container{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #F5DEB3;

}

/* #toggle:checked ~ ul.menu-items {
  display:none;
}

#toggle {
display:none;
} */

ul.menu-items a {
  text-decoration:underline;
  line-height:40px;
  text-align: center;
  color: #F5DEB3;
  display:block;

}

ul.menu-items {
padding: 20px 0 40px 0;
margin: 0;
list-style-type: none;
text-align: left;

}

.banner-container {
    display: flex;
    background-image: url("../img/coffee-beans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    /* margin:0 auto; */
    width: 100%;
    color: #F5DEB3;
    font-family: Georgia;
    justify-content: center;
    align-items: center;
  }

  .panel-container{

    justify-content: space-between;
  }

  .panel-1{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .panel-2{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .panel-3{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .panel-4{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .panel-5{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .panel-6{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .menu-item-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

.menu-item-row p{
  width: 30%;
}
.menu-item-row ul{
  width: 60%;
  list-style-type: none;
  float: right;
  text-align: right;
  }

.menu-item-row ul li{
  display: inline-block;
  width: 30%;
  }

  .drink-menu{
    color: #F5DEB3;
    text-align: center;
    padding-bottom: 60px;
  }
  .tea-menu-container{
    padding: 30px;
    width: 85%;
    margin: 0 auto;
    background-color: #F5DEB3;
  }

  .tea-menu-container img{
    width: 100%;
  }


  .iced-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .iced-drinks-menu-container img{
    width: 100%;
  }

  .hot-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .specialty-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .food-menu{
    color: #F5DEB3;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.sandwhiches-and-wraps-container{
  padding: 30px;
  background-color: #F5DEB3;
}

.backery-items-container{
  padding: 30px;
  background-color: #F5DEB3;
}

.snacks-for-on-the-go-container{
  padding: 30px;
  background-color: #F5DEB3;
}

.panel-container-lower{
  justify-content: space-between;
}

.get-in-touch{
  color: #F5DEB3;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
  margin-bottom: 0px;
}

@media only screen and (min-width:400px){

.panel-1{
  width: 30%;
  display: incline-block;
  }

.panel-2{
  width: 30%;
  display: incline-block;
  }

  .panel-3{
    width: 30%;
    display: incline-block;
    }

  .panel-4{
    width: 30%;
    display: incline-block;
    }

    .panel-5{
      width: 30%;
      display: incline-block;
      }

    .panel-6{
      width: 30%;
      display: incline-block;
      }

.drink-menu{
  display: flex;
}

.tea-menu-container{
  width: 50%;
  display: incline-block;
}


.iced-drinks-menu-container{
  width: 50%;
  display: incline-block;
}

.hot-drinks-menu-container{
  width: 50%;
  display: incline-block;
}

.specialty-drinks-menu-container{
  width: 50%;
  display: incline-block;
}

.sandwhiches-and-wraps-container{
  width: 50%;
  display: incline-block;
}

.bakery-items{
  width: 50%;
  display: incline-block;
}

.snacks-for-on-the-go-container{
  width: 50%;
  display: incline-block;
}





}
