* {
  margin: 0px;

}

body {
  background-color: #261917;
}

h1 {
font-size: 50px;
font-family: Georgia;
justify-content: center;
padding-left: 30px;
}

h2 {
font-size: 40px;
font-family: Georgia;
}

h3 {
font-size: 25px;
font-family: Georgia;
}

p{
font-size: 16px;
font-family: Georgia;
}

.main{
  display: flex;
  flex-direction: column;
}
.nav-list{
  list-style-type: none;
}

.nav-list-container{
  display: flex;
  justify-content: space-between;
}

.header-container{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #F5DEB3;

}

/* #toggle:checked ~ ul.menu-items {
  display:none;
}

#toggle {
display:none;
} */

ul.menu-items a {
  text-decoration:underline;
  line-height:40px;
  text-align: right;
  color: black;
  display:block;
}

ul.menu-items {
padding: 20px 0 40px 0;
margin: 0;
list-style-type: none;
text-align: left;

}

.banner-container {
    display: flex;
    background-image: url("../img/coffee-beans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    /* margin:0 auto; */
    width: 100%;
    color: #F5DEB3;
    font-family: Georgia;
    justify-content: center;
    align-items: center;
  }

  .panel-container{

    justify-content: space-between;
  }
  .panel{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .menu-item-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

.menu-item-row p{
  width: 30%;
}
.menu-item-row ul{
  width: 60%;
  list-style-type: none;
  float: right;
  text-align: right;
  }

.menu-item-row ul li{
  display: inline-block;
  width: 30%;
  }

  .drink-menu{
    color: #F5DEB3;
    text-align: center;
    padding-bottom: 60px;
  }
  .tea-menu-container{
    padding: 30px;
    width: 85%;
    margin: 0 auto;
    background-color: #F5DEB3;
  }

  .tea-menu-container img{
    width: 100%;
  }


  .iced-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .hot-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .specialty-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .food-menu{
    color: #F5DEB3;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.sandwhiches-and-wraps-container{
  padding: 30px;
  background-color: #F5DEB3;
}

.backery-items-container{
  padding: 30px;
  background-color: #F5DEB3;
}

.snacks-for-on-the-go-container{
  padding: 30px;
  background-color: #F5DEB3;
}

.panel-container-lower{
  justify-content: space-between;
}

.get-in-touch{
  color: #F5DEB3;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
  margin-bottom: 0px;
}

@media only screen and (min-width:400px){

  .panel-container{

    justify-content: space-between;
  }
  .panel{
    margin: 40px;
    padding: 30px;
    background-color: #F5DEB3;
  }

  .menu-item-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .menu-item-row p{
  width: 30%;
  }
  .menu-item-row ul{
  width: 60%;
  list-style-type: none;
  float: right;
  text-align: right;
  }

  .menu-item-row ul li{
  display: inline-block;
  width: 30%;
  }

  .drink-menu{
    display: flex
  }
  .tea-menu-container{
    width: 50%
    display: inline-block;
  }

  .tea-menu-container img{
    width: 30%;
    margin-right: 20px
  }


  .iced-drinks-menu-container{
    width: 50%
    display: inline-block;
  }
  .iced-drinks-menu-container img{
    width: 30%;
    margin-right: 20px
  }

  .hot-drinks-menu-container{
    width: 50%
    display: inline-block;
  }
  .hot-drinks-menu-container img{
    width: 30%;
    margin-right: 20px
  }

  .specialty-drinks-menu-container{
    padding: 30px;
    background-color: #F5DEB3;
  }

  .food-menu{
    color: #F5DEB3;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .sandwhiches-and-wraps-container{
  padding: 30px;
  background-color: #F5DEB3;
  }

  .backery-items-container{
  padding: 30px;
  background-color: #F5DEB3;
  }

  .snacks-for-on-the-go-container{
  padding: 30px;
  background-color: #F5DEB3;
  }

  .panel-container-lower{
  justify-content: space-between;
  }

  .get-in-touch{
  color: #F5DEB3;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
  margin-bottom: 0px;
  }

}
